<launch>

 <group ns="drone1">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
        <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
        <arg name="name" value="drone1" />
        <arg name="tf_prefix" value="drone1" />
        <arg name="y" value="0.0" />
    </include>
</group>

 <!-- <group ns="drone2">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
        <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
        <arg name="name" value="drone2" />
        <arg name="tf_prefix" value="drone2" />
        <arg name="y" value="1.0" />
    </include>
</group> -->


</launch>